// var

$gdpr-banner-background: #fff;
$fluid-breakpoint: 768px;

// core rules

#gdpr-banner {

    font-size: 1rem;

    position: fixed;
    z-index: 1000;
    right: 2rem;
    bottom: 2rem;
    padding: 2rem;

    width: 40vw;

    background: $gdpr-banner-background;
    box-shadow: 0 2rem 5rem rgba(#000000, 0.3);

    transition: all .4s ease-out;
    transform: translateY(100%);
    opacity: 0;

    &.active {
        transform: translateY(0);
        opacity: 1;
    }

    @media (max-width: $fluid-breakpoint) {
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
        width: auto;
    }

    #gdpr-ok-btn {
        cursor: pointer;
        margin-top: 1.5rem;
    }

}